<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="ayuda()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-card">
    <p class="welcome-text">
      Bienvenido {{this.dataService.getDataApoderadoPersona().p_nombres}}
    </p>

    <p class="app-section-title">Alumno</p>
    <ion-item lines="none" class="select-item bordered-item">
      <ion-select placeholder="Seleccione uno" interface="action-sheet" [(ngModel)]="bind">
        <ng-container *ngFor="let item of alumnos_id, let i = index">
          <ion-select-option [value]="item">{{alumnos_nombres[i]}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <ion-button expand="block" shape="round" (click)="getInfoAlumno(bind)">
      Rastrear
    </ion-button>
    <ion-button expand="block" shape="round" fill="outline" (click)="editAlumno(bind)">
      Editar información alumno
    </ion-button>
  </div>
</ion-content>
