
.boton{
    float:right;
}
.titulo{
    float:left;
    font-size: 1.3em;
}
.icono{
    zoom:1.5;
}
ion-content {
    --padding-bottom: 10px;
    --padding-end: 8%;
    --padding-start: 8%;
    --padding-top: 30px;
}
.btnInicio{
    padding-left:12%;
    padding-right:12%;
}