<ion-header>
  <ion-toolbar>
    <ion-title>Información Auxiliar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-card">
    <ion-avatar class="avatar">
      <img src="{{this.dataAux.aux_fotoperfil}}" alt="" />
    </ion-avatar>

    <ion-list class="app-list" lines="full">
      <ion-item>
        <ion-label>Nombres</ion-label>
        <ion-input value="{{this.dataAuxPersona.p_nombres}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellidos</ion-label>
        <ion-input value="{{this.dataAuxPersona.p_apellidos}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rut</ion-label>
        <ion-input value="{{this.dataAuxPersona.p_numdocumento}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono</ion-label>
        <ion-input value="{{this.dataAux.aux_telefono}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input value="{{this.dataAux.aux_correo}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Comuna</ion-label>
        <ion-input value="{{this.dataAuxPersona.p_comuna}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-input value="{{this.dataAuxPersona.p_direccion}}" readonly></ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="medium" fill="outline" (click)="dismiss()" shape="round" expand="block">
      Volver
    </ion-button>
  </div>
</ion-content>
