<ion-header>
  <ion-toolbar>
    <ion-title>Rastreo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="ayuda()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-card">
    <p class="welcome-text">
      Bienvenido {{this.dataService.getDataConductorPersona().p_nombres}}
    </p>

    <p class="app-section-title">Alumnos escogidos</p>
    <ion-list class="app-list" lines="full">
      <ion-item *ngFor="let item of this.ids_alumnos, let i = index">
        <ion-label>{{this.nombres_alumnos[i]}}</ion-label>
        <ion-button fill="clear" slot="end" (click)="finalizarRutaAlum(item)">
          <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <div class="map-card">
    <div id="map1" class="map-el"></div>
  </div>
</ion-content>
