<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
    <ion-item color="warning">
      <ion-label position="stacked"><strong>Ingrese su correo</strong></ion-label>
      <ion-input type="text" placeholder="Ingrese su correo" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <br>
    <div>
           <ion-button color="dark" shape="round" (click)="resetPassword()" expand="block">Recuperar contraseña</ion-button>
    </div>
    <div style="text-align: end;">
      <ion-button (click)="dismiss()" color="dark" shape="round" class="btnVolver">
        Volver
      </ion-button>
    </div>
      

</ion-content>
