<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
    <ion-buttons slot="end">
      <app-theme-toggle></app-theme-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-card">
    <ion-item lines="none" class="reset-item bordered-item">
      <ion-label position="stacked">Ingrese su correo</ion-label>
      <ion-input type="text" placeholder="Ingrese su correo" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-button shape="round" (click)="resetPassword()" expand="block">
      Recuperar contraseña
    </ion-button>
    <ion-button (click)="dismiss()" shape="round" expand="block" fill="clear">
      Volver
    </ion-button>
  </div>
</ion-content>
