<ion-header>
  <ion-toolbar>
    <ion-title>Ayuda</ion-title>
    <ion-buttons slot="end">
      <app-theme-toggle></app-theme-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-card">
    <p>
      Si requiere ayuda de cualquier tipo referente a la aplicación no dude en
      enviarnos un correo <a href="mailto:pavieclaudio@gmail.com">aquí</a>!
    </p>
    <ion-button (click)="onClick()" expand="block" shape="round">
      Volver
    </ion-button>
  </div>
</ion-content>
