<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons>
      <ion-title class="titulo">Perfil</ion-title>
      <ion-button class="boton" (click)="logout()">
        <ion-icon class="icono" name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-button class="boton" (click)="ayuda()">
        <ion-icon class="icono" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-item color="warning">
    <ion-label>
      Bienvenido {{this.dataService.getDataApoderadoPersona().p_nombres}}
    </ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-avatar class="avatar">
      <img src="{{this.dataService.getDataApoderado().apo_fotoperfil}}" alt="">
    </ion-avatar>
  </ion-item>
  <ion-item color="warning">
    <ion-label><b>Nombres: </b></ion-label>
    <ion-input readonly value="{{this.dataService.getDataApoderadoPersona().p_nombres}}"></ion-input>
  </ion-item>
  <ion-item color="warning">
    <ion-label><b>Apellidos: </b></ion-label>
    <ion-input readonly value="{{this.dataService.getDataApoderadoPersona().p_apellidos}}"></ion-input>
  </ion-item>
  <ion-item color="warning">
    <ion-label><b>Fecha de nacimiento: </b></ion-label>
    <ion-input readonly value="{{this.dataService.getDataApoderadoPersona().p_fecnac}}"></ion-input>
  </ion-item>
  <ion-item color="warning">
    <ion-label><b>Correo: </b></ion-label>
    <ion-input readonly value="{{this.dataService.getDataApoderado().apo_correo}}"></ion-input>
  </ion-item>
  <ion-item color="warning">
    <ion-label for="direccion"><b>Dirección: </b></ion-label>
    <ion-input id="direccion" [(ngModel)]="direccion" value="{{this.direccion}}"></ion-input>
  </ion-item>
  <ion-item color="warning">
    <ion-label for="comuna"><b>Comuna: </b></ion-label>
    <ion-input id="comuna" [(ngModel)]="comuna" value="{{this.comuna}}"></ion-input>
  </ion-item>
  <ion-item color="warning">
    <ion-label for="comuna"><b>Telefono: </b></ion-label>
    <ion-input id="telefono" inputmode="numeric" [(ngModel)]="telefono" value="{{this.telefono}}"></ion-input>
  </ion-item>
    <ion-button (click)="goResetPassword()" expand="block" color="dark" fill="clear" shape="round">
      Cambiar Contraseña
    </ion-button>
  <ion-item color="warning">
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;">
          <div>
            <ion-button size="small" color="dark" shape="round" (click)="save()">Confirmar</ion-button>
          </div>
        </ion-col>
        <ion-col style="text-align: center;">
          <div>
            <ion-button size="small" color="medium" shape="round" (click)="reset()">Cancelar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>