<ion-header>
  <ion-toolbar>
    <ion-title>Editar Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-card">
    <p class="welcome-text">
      Bienvenido {{this.dataService.getDataApoderadoPersona().p_nombres}}
    </p>
    <p class="editing-text">
      Editando información de {{this.dataAlumnoPersona.p_nombres}}
    </p>

    <ion-list class="app-list" lines="full">
      <ion-item>
        <ion-label position="stacked">Comuna</ion-label>
        <ion-input [(ngModel)]="comuna"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input [(ngModel)]="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Comentario</ion-label>
        <ion-textarea [(ngModel)]="comentario"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="edit-actions">
      <ion-button shape="round" (click)="save()">Confirmar</ion-button>
      <ion-button shape="round" color="medium" fill="outline" (click)="dismiss()">Cancelar</ion-button>
    </div>
  </div>
</ion-content>
