<ion-content fullscreen="true">
  <div class="login-wrap">
    <div class="app-card login-card">
      <img class="icon" src="../../assets/img/furgon01.png" alt="Logo furgon">
      <h1 class="login-title">SafeChild</h1>
      <p class="login-subtitle">Inicia sesión para continuar</p>

      <ion-segment [(ngModel)]="type" value="apoderado" mode="ios" class="role-segment">
        <ion-segment-button value="apoderado">
          <ion-label>Apoderado</ion-label>
        </ion-segment-button>
        <ion-segment-button value="conductor">
          <ion-label>Conductor</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list class="app-list" lines="none">
        <ion-item lines="none" class="login-item bordered-item">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item lines="none" class="login-item bordered-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" shape="round" (click)="onSubmitLogin()">
        Ingresar
      </ion-button>
      <ion-button expand="block" shape="round" fill="clear" (click)="goResetPassword()">
        Olvidé mi contraseña
      </ion-button>
    </div>

    <p class="login-footer">
      Si olvidó su usuario o quiere contar con nuestro servicio
      <a href="mailto:pavieclaudio@gmail.com">contáctenos</a>!
    </p>
  </div>
</ion-content>
