<ion-header>
  <ion-toolbar>
    <ion-title>Información Furgón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-card">
    <ion-avatar class="avatar">
      <img src="{{this.dataFurgon.fur_foto}}" alt="" />
    </ion-avatar>

    <ion-list class="app-list" lines="full">
      <ion-item>
        <ion-label>Capacidad del furgón</ion-label>
        <ion-input value="{{this.dataFurgon.fur_capacidad}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Patente del furgón</ion-label>
        <ion-input value="{{this.dataFurgon.fur_patente}}" readonly></ion-input>
      </ion-item>
    </ion-list>

    <p class="app-section-title">Foto del permiso</p>
    <img class="permit-img" src="{{this.dataFurgon.fur_fotopermiso}}" alt="" />

    <ion-button color="medium" fill="outline" (click)="dismiss()" shape="round" expand="block">
      Volver
    </ion-button>
  </div>
</ion-content>
