.boton{
    float:right;
}
.titulo{
    float:left;
    font-size: 1.3em;
}
.icono{
    zoom:1.5;
}
ion-content {
    --padding-bottom: 10px;
    --padding-end: 7%;
    --padding-start: 7%;
    --padding-top: 30px;
}
 ion-list{
     --ion-background-color:#eef207;
     
 }