<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <app-theme-toggle></app-theme-toggle>
      <ion-button (click)="ayuda()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app-card">
    <p class="welcome-text">
      Bienvenido {{this.dataService.getDataConductorPersona().p_nombres}}
    </p>

    <p class="app-section-title">Seleccione alumnos para comenzar ruta</p>
    <ion-list class="app-list" lines="full">
      <ion-item *ngFor="let item of id_alumnos, let i = index">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>{{this.alumnos_nombres[i]}}</ion-label>
        <ion-checkbox
          slot="end"
          [(ngModel)]="alums[i]"
          (click)="dataAlum(item, this.alumnos_nombres[i])"
        ></ion-checkbox>
      </ion-item>
    </ion-list>

    <p class="app-section-title">Auxiliar</p>
    <ion-item lines="none" class="select-item bordered-item">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-select
        placeholder="Seleccione un auxiliar"
        interface="action-sheet"
        [(ngModel)]="bind"
      >
        <ion-select-option
          *ngFor="let item of id_auxiliares, let i = index"
          value="{{id_auxiliares[i]}}"
          >{{auxiliares_nombres[i]}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-button expand="block" shape="round" (click)="comenzarRuta()">
      <ion-icon slot="start" name="play-outline"></ion-icon>
      Comenzar ruta
    </ion-button>
  </div>
</ion-content>
